/* contenitore delle barre di avanzamento */
body {
    /* spazio di tutti i contenuti dai bordi della pagina */
    padding: 20px;
    background-color:snow;
    font-family:"Arial";
}

 h1{ color: #222222;
 font-family: "Arial Black";
 font-size: 1.75em;}


#gara {
    /* stacchiamo le barre di avanzamento dalle descrizioni */
    margin-top: 30px;
}
/* nome all'interno della barra di avanzamento */
#gara .nome {
    /* la larghezza del div dipenderà dal suo contenuto,
    permettendo ad altri contenuti di essere posizionati alla sua destra */
    display: inline-block;
}
/* metri all'interno della barra di avanzamento */
#gara .metri {
    /* posizioniamo il div sulla destra permettendo ad altri contenuti di
    essere posizionati alla sua sinistra */
    float: right;
}
/* tutti i div delle barre */
#gara > div {
    /* sfondo di default */
    background: greenyellow;
    margin: 2px;
    color: purple;
    font-family: Arial;
    font-weight: bold;
    /* spazio interno tra il bordo e i contenuti */
    padding: 5px;
    /* larghezza di default */
    width: 20%;
    /* larghezza minima consentita */
    min-width: 120px;
}

/* contenitore del pulsante start */
#start {
    /* stacchiamo il pulsante dalle barre di avanzamento */
    margin-top: 30px;
}
/*media queries  =  ossia ci sono caratteristiche che desideriamo
 ci siano solo per determinati dispositivi, es. telefoni
 definiamo una grandezza inferiore a 480px
 per telefoni vecchi
 altri css li si definiscono per le grandezze superiori
 */
@media (max-width: 480px){
    #descrizioni div {
        font-size: 1.5em;
        line-height: 1.2em;
        margin-bottom: 15px;
    }
    #gara > div {
    /*non dimenticare: #gara > div  significa che considera solo i div di primo livello e non tutti
     ricorda che non serve riscrivere tutto, solo quello chesi modifica, il resto lo prende
     dalle istruzioni precedenti
     */
        width: 16%;
        min-width: 16%;
        position: relative;
        text-align: right;
        margin-top: 1.5em;
    }
    #gara .nome{
        position: absolute;
        left: 0;
        top: -1.3em;
        color: purple;
   }
    #gara .metri{
        float:none;
        }

}
@media (max-width: 320px) {
    #descrizioni div {
        font-size: 1.0em;
        line-height: 0.8em;
        margin-bottom: 12px;
    }
    h1 {font-size: 1.5em;}
    #gara > div {
        width: 24%;
        min-width: 24%;
        position: relative;
        text-align: right;
        margin-top: 1.5em;
    }
}
